@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "tailwindcss";

@theme {
  --font-text: "Poppins", serif;
  --color-gold: #ffde59;
  --color-blue: #233875;
  --color-darkblue: #1a2b5f;
}

